package {{package}}

import {{modelPackage}}._

import io.gatling.core.Predef._
import io.gatling.http.Predef._

object {{classname}}Operations { {{#operations}}{{#operation}}
    {{#description}}/* {{{description}}} */{{/description}}
    def {{operationId}} = http("{{operationId}}")
        .httpRequest("{{httpMethod}}","{{{vendorExtensions.x-gatling-path}}}")
        .header("Content-Type", "application/json")
    {{#vendorExtensions.x-gatling-header-params}}
        .header("{{gatlingParamName}}","{{gatlingParamValue}}")
    {{/vendorExtensions.x-gatling-header-params}}
    {{#vendorExtensions.x-gatling-query-params}}
        .queryParam("{{gatlingParamName}}","{{gatlingParamValue}}")
    {{/vendorExtensions.x-gatling-query-params}}
    {{#vendorExtensions.x-gatling-header-params}}
        .header("{{gatlingParamName}}","{{gatlingParamValue}}")
    {{/vendorExtensions.x-gatling-header-params}}
    {{#vendorExtensions.x-gatling-form-params}}
        .formParam("{{gatlingParamName}}","{{gatlingParamValue}}")
    {{/vendorExtensions.x-gatling-form-params}}
    {{#vendorExtensions.x-gatling-body-object}}
        .body(StringBody(
            {{{vendorExtensions.x-gatling-body-object}}}{{#vendorExtensions.x-gatling-body-feeder-params}}({{{vendorExtensions.x-gatling-body-feeder-params}}}){{/vendorExtensions.x-gatling-body-feeder-params}})){{/vendorExtensions.x-gatling-body-object}}{{/operation}}{{/operations}}
}
